.vscode/**

activemq-data/
.idea/
*.iml
*.ipr
*.iws
.metadata/
.recommenders/
.classpath
.project
.cache
.settings/
.checkstyle
.gradle/
build/
deploy/
target/
mods/
*.swp
epom
log
npm-debug.log
.DS_Store
phantomjsdriver.log

generated-sources/

/state/
debezium-connector-as400/target/
debezium-connector-as400/.classpath
debezium-connector-as400/.project
debezium-connector-as400/.settings/
debezium-connector-as400/log/
