<configuration scan="true" scanPeriod="2 seconds">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
    
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>log/testFile.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>false</immediateFlush>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="org.apache.kafka.connect.runtime.WorkerSourceTask" level="info"/>
    <logger name="io.debezium.pipeline.EventDispatcher" level="info"/>
    <logger name="io.debezium.connector.db2as400.As400StreamingChangeEventSource" level="info"/>
    
  

  <root level="info">
    <appender-ref ref="STDOUT" />
     <appender-ref ref="FILE" />
  </root>
  

  
</configuration>